@font-face {
	font-family: 'Roboto Slab';
	src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf)
}

:root {
	--off-black: #1f1f1f;
	--off-white: #efefef;
}

html {
	background-color: var(--off-white);
	font-family: 'Roboto Slab';
}

body {
	margin: 0;
}

#selection-nav {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 10%;
	height: 100vh;
	overflow: auto;
	background-color: steelblue;
}

#selection-nav>label,
#selection-nav>h4 {
	margin: 0;
	margin-top: 0.5em;
	margin-left: 0.5em;
	color: var(--off-black);
}

#selection-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	padding-left: 10%;
	background-color: lightsteelblue;
}

.project-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 20em;
	height: 10em;
	margin: 1em;
	border-radius: 1em;
	background-color: plum;
	-webkit-transition: border-radius 0.3s;
	-o-transition: border-radius 0.3s;
	transition: border-radius 0.3s;
}

.project-card a {
	width: 100%;
	height: 100%;
	color: var(--off-black);
	text-decoration: none;
}

.project-card h3,
.project-card p {
	text-align: center;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

.project-card:hover {
	border-radius: 3em;
}